<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
 </head>

<body>
    <h1>@ViewBag.Title</h1>
    
    <a asp-action="Index">Top 5 Favorite Restaurants</a>
    <a asp-action="EnterRestaurants">Enter Restaurants</a>
    
    @RenderBody()
</body>
</html>
