
@{
    ViewBag.Title = "Enter Restaurants";
 }
@model Assignment4.Models.EnterRestaurantsModel
<div class="text-center">
    <form method="post" asp-action="EnterRestaurants">
        <label asp-for="Name">Enter Your Name:</label>
        <input asp-for="Name"/>
        <br />
        <label asp-for="RestaurantName">Enter the Restaurant's Name:</label>
        <input asp-for="RestaurantName"/>
        <br />
        <label asp-for="FavoriteDish">Enter Your Favorite Dish at That Restaurant:</label>
        <input asp-for="FavoriteDish"/>
        <br />
        <label asp-for="Phone">Enter the Restaurant's Phone Number:</label>
        <input asp-for="Phone"/>
        <br />
        
        <button type="submit" class="btn btn-primary">Submit Info</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>




